---
import Lesson from "../components/Lesson/index.astro";
import Layout from "../layouts/index.astro";
---

<Layout>
	<Lesson>
		<Fragment slot="title">My First Lesson</Fragment>
		<p>Lesson goes here.</p>
	</Lesson>
</Layout>
